#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        bootloader {
            bindings = <&bootloader>;
            key-positions = <6 8 3 5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
&kp A  &kp B  &kp C
&kp D  &kp E  &kp F
&kp G  &kp H  &kp I
            >;

            sensor-bindings = <&inc_dec_kp O P>;
        };
    };
};
